<div style="padding-top:30px; padding-left: 50px; padding-right: 50px; padding-bottom: 30px">
  <div nz-row [nzGutter]="30">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="服务器介绍" style="height: 280px; text-align: center;line-height: 30px" [nzHoverable]="true">
        <p>服务器是计算机的一种，它比普通计算机运行更快、负载更高、价格更贵。服务器在网络中为其它客户机（如PC机、智能手机、
          ATM等终端甚至是火车系统等大型设备）提供计算或者应用服务。服务器具有高速的CPU运算能力、长时间的可靠运行、强大的I/O外部数据吞吐能力以及更好的扩展性。</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="服务器分类" style="height: 280px;line-height: 30px" [nzHoverable]="true">
        <ul>
          <li>根据体系结构不同，服务器可以分成两大重要的类别：IA架构服务器和RISC架构服务器。</li>
          <li>根据服务器的规模不同可以将服务器分成工作组服务器、部门服务器和企业服务器</li>
          <li>根据服务器的功能不同我们可以把服务器分成很多类别</li>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="服务器构成" style="height: 280px;line-height: 30px" [nzHoverable]="true">
        <p>服务器的构成包括处理器、硬盘、内存、系统总线等，和通用的计算机架构类似，但是由于需要提供高可靠的服务，因此在处理能力、稳定性、可靠性、安全性、可扩展性、可管理性等方面要求较高。</p>
      </nz-card>
    </div>
  </div>

  <div nz-row [nzGutter]="30" style="padding-top: 50px">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="服务器特性" style="height: 280px; line-height: 25px"  [nzHoverable]="true">
        <p>可以从这几个方面来衡量服务器是否达到了其设计目的；</p>
        <ul>
          <li>R：Reliability可靠性；</li>
          <li>A：Availability可用性；</li>
          <li>S：Scalability可扩展性；</li>
          <li>U：Usability易用性；</li>
          <li>M：Manageability可管理性，即服务器的RASUM衡量标准</li>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="服务器安全问题" style="height: 280px; line-height: 30px"  [nzHoverable]="true">
        <ul>
          <li>服务器所处运行环境不佳</li>
          <li>缺乏正确的网络服务器安全维护意识</li>
          <li>服务器系统漏洞过多</li>
        </ul>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="虚拟化技术" style="height: 280px; line-height: 30px" [nzHoverable]="true">
        <p>虚拟化是指通过虚拟化技术将一台计算机虚拟为多台逻辑计算机，它是一个广义的术语，目的是将IT基础设施简单化。虚拟化的对象可以包括服务器、Internet、桌面以及存档空间的虚拟化。自从虚拟化这个概念的提出，其优点被大多数人所熟知，服务器虚拟也变得流行，在过去很长一段时间，世界有一半的服务器都被虚拟化过。</p>
      </nz-card>
    </div>
  </div>
</div>
