<div class="content-background" #background>
  <div class="content-header" #header>
    <div class="content-div" style="height: 40px">
      <a (click)="back()" [title]="'返回公司列表'"
         style="font-weight: bold;line-height: 40px;margin-left: 8px;color: black">
        <i nz-icon nzTheme="outline" nzType="left"></i>返回公司列表
      </a>
      <div style="float: right;padding-top: 4px;">
        <button (click)="cancel()" nz-button>取消</button>
        <button (click)="update()" *ngIf="true" nz-button nzType="primary" [nzLoading]="loading">保存
        </button>
      </div>
    </div>
  </div>
  <div class="content-header" style="padding-top: 0; background: #ffffff">
    <div class="content-div" style="border-radius: 0;">
      <nz-content style="padding:0px 0; background: #ffffff">
        <form nz-form>
          <div nz-row style="padding-top: 30px">
            <div nz-col [nzSpan]="14" [nzOffset]="3">
              <nz-form-item>
                <nz-form-label [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="10" [nzSm]="12" [nzXs]="18">
                  公司id
                </nz-form-label>
                <nz-form-control [nzXXl]="15" [nzXl]="15" [nzLg]="15" [nzMd]="13" [nzSm]="11"
                                 [nzXs]="6">
                  <input nz-input placeholder="公司id" [disabled]="'true'" [(ngModel)]="companyData['id']"
                         name="id">
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row style="padding-top: 30px">
            <div nz-col [nzSpan]="14" [nzOffset]="3">
              <nz-form-item>
                <nz-form-label [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="10" [nzSm]="12" [nzXs]="18"
                               nzRequired>公司名称
                </nz-form-label>
                <nz-form-control [nzXXl]="15" [nzXl]="15" [nzLg]="15" [nzMd]="13" [nzSm]="11"
                                 [nzXs]="6" [nzValidateStatus]="!nameRequired?'success':'error'"
                                 [nzHasFeedback]="nameRequired">
                  <input nz-input name="name" [(ngModel)]="companyData['name']" (ngModelChange)="nameChange()">
                  <nz-form-explain *ngIf="nameRequired">{{'请输入公司名称'}}</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row style="padding-top: 30px">
            <div nz-col [nzSpan]="14" [nzOffset]="3">
              <nz-form-item>
                <nz-form-label [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="10" [nzSm]="12" [nzXs]="18"
                               nzRequired>公司电话
                </nz-form-label>
                <nz-form-control [nzXXl]="15" [nzXl]="15" [nzLg]="15" [nzMd]="13" [nzSm]="11"
                                 [nzXs]="6" [nzValidateStatus]="!phoneRequired?'success':'error'"
                                 [nzHasFeedback]="phoneRequired">
                  <input nz-input name="phone" [(ngModel)]="companyData['phone']" (ngModelChange)="phoneChange()">
                  <nz-form-explain *ngIf="phoneRequired">{{'请输入公司电话'}}</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row style="padding-top: 30px">
            <div nz-col [nzSpan]="14" [nzOffset]="3">
              <nz-form-item>
                <nz-form-label [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="10" [nzSm]="12" [nzXs]="18">
                  公司地址
                </nz-form-label>
                <nz-form-control [nzXXl]="15" [nzXl]="15" [nzLg]="15" [nzMd]="13" [nzSm]="11"
                                 [nzXs]="6">
                  <input nz-input placeholder="公司地址"
                         name="id" [(ngModel)]="companyData['address']">
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-content>
    </div>
  </div>
</div>
